:root{
    --fontFamily: 'Poppins', sans-serif;
    --color-dark: #202142;
    --color-pink: #FF6A95;
    --border-color: #EFEFFF;
    --color-text: rgba(32, 33, 66, .7);
    --color-selago: #F1F1FD;
}